/**
 * Responsive Breakpoint Manager 
 *
 * 0px - 600px:       Small
 * 600px - 900px:     Medium
 * 900px - 1140px:    Large
 * 1800px and more:   Huge
 */
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
.page-border {
  background: #F5F5F5;
  margin: 20px; }

.hex-container {
  width: 700px;
  margin: 0 auto; }

#project {
  margin: 0;
  padding: 0; }

/**
 * Basic reset of font-size, box-sizing, margin and padding.
 *
 * 1. Thanks to this declaration You can easily build layout based on rem unit.
 *    At normal state (without any media queries) 1rem is equal to 10px.
 *    Value is calculated assuming that 1rem is originally 16px.
 *    You can change that by adding next function parameter, e.g. 'px-to-percent(10px, 20px)'.
 */
html {
  font-size: px-to-percent(10px);
  /* 1 */
  box-sizing: border-box; }
  @media (max-width: px-to-em(600px)) {
    html {
      font-size: px-to-percent(9px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%;
  position: relative; }

body {
  font-family: 'EB Garamond', serif;
  color: #121212;
  font-weight: 100;
  background: #ddd; }

.page-header {
  margin: 30px 0 50px 0;
  text-align: center; }

p {
  font-size: 1.2em;
  line-height: 30px;
  width: 98%;
  margin-left: auto;
  margin-right: auto; }

header .row #link {
  border-bottom: 1px solid #121212;
  padding: 0 0 0 10px; }

header .row a {
  text-decoration: none;
  color: #121212;
  font-size: 1.1em;
  letter-spacing: .3em; }

header .row img {
  max-height: 180px;
  width: auto; }

.container_social {
  position: relative;
  margin-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: inline-flex; }

.sns_btn {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: #fff;
  font-size: 2.0em;
  text-decoration: none;
  height: 2.0em;
  width: 2.0em;
  position: relative;
  border-radius: 0.3125em;
  box-shadow: 0 0.1875em 0.3125em 0 rgba(0, 0, 0, 0.35);
  margin: 0.2em;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  overflow: hidden; }
  .sns_btn:hover {
    transform: scale(1.2);
    box-shadow: 0 0.3125em 0.9375em 0 rgba(0, 0, 0, 0.4); }
  .sns_btn:active {
    transform: scale(0.9);
    box-shadow: 0 0.125em 0.1875em 0 rgba(0, 0, 0, 0.4); }

.btn_facebook {
  background: #3b5998; }
  .btn_facebook:hover {
    color: #3b5998;
    background: #fff; }

.btn_github {
  background: #55acee; }
  .btn_github:hover {
    color: #55acee;
    background: #fff; }

.btn_googleplus {
  background: #dd4b39; }
  .btn_googleplus:hover {
    color: #dd4b39;
    background: #fff; }

.btn_email {
  background: #9F0303; }
  .btn_email:hover {
    color: #9F0303;
    background: #fff; }

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none; }

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; }

.hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
  /* =  100 / tan(60) * 1.5 */ }

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%;
  /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg); }

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */ }

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg); }

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg); }

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  background-color: rgba(0, 176, 230, 0.8);
  font-weight: 300;
  -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
  transition: transform .2s ease-out, opacity .3s ease-out; }

.hex h1 {
  bottom: 50%;
  padding-top: 50%;
  font-size: 1.5em;
  z-index: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff; }

.hex p {
  top: 50%;
  padding-bottom: 50%;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1201px) {
  /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%; }
  .hex {
    width: 20%;
    /* = 100 / 5 */ }
  .hex:nth-child(9n+6) {
    /* first hexagon of even rows */
    margin-left: 10%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 1200px) and (min-width: 901px) {
  /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 5.5%; }
  .hex {
    width: 25%;
    /* = 100 / 4 */ }
  .hex:nth-child(7n+5) {
    /* first hexagon of even rows */
    margin-left: 12.5%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 900px) and (min-width: 601px) {
  /* <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 7.4%; }
  .hex {
    width: 33.333%;
    /* = 100 / 3 */ }
  .hex:nth-child(5n+4) {
    /* first hexagon of even rows */
    margin-left: 16.666%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  #hexGrid {
    padding-bottom: 11.2%; }
  .hex {
    width: 50%;
    /* = 100 / 3 */ }
  .hex:nth-child(3n+3) {
    /* first hexagon of even rows */
    margin-left: 25%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px; } }

.projectSection img {
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 99em;
  border: 2px solid #eee;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }

.welcome {
  vertical-align: middle;
  text-align: left;
  margin: 50px 0 0 0; }
  @media (min-width: 700px) {
    .welcome {
      margin-top: 20vh; } }
  .welcome__text {
    padding-bottom: 200px; }
  .welcome span {
    color: red; }
  .welcome__title {
    font-size: 2rem;
    line-height: 60px; }
    @media (min-width: 700px) {
      .welcome__title {
        font-size: 3rem; } }
    @media (max-width: px-to-em(600px)) {
      .welcome__title {
        font-size: 2rem; } }
  .welcome__text {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 300; }
    .welcome__text:not(:last-child) {
      margin-bottom: 1rem; }
